{extend name='admin@public/base' /}


{block name='seo'}
<title>{$title|default='页面标题'}</title>
{/block}

<!--此页面不需要加载菜单栏重写覆盖-->
{block name='menu'}
{/block}

<!--此页面不需要加载头部栏重写覆盖-->
{block name='header'}
{/block}

{block name='content'}
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
		<input type="hidden" value="{$role['id']}" name="roleId">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$role['name']}" placeholder="" id="roleName" name="roleName">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$role['description']}" placeholder="" id="" name="desc">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">网站角色：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{volist name="permissions" id="item"}
				<dl class="permission-list">
					<dd>
						<dl class="cl permission-list2">
							<dt>
								<label class="">
									<input type="checkbox" value="" name="" id="user-Character-0-0">{$item['name']}
								</label>
							</dt>
							<dd>
								{volist name="item['permissions']" id="item2"}
								<label class="">
									{if condition="in_array($item2['id'],$role['permission_ids'])"}
										<input name="permission[]" lay-skin="primary" type="checkbox" title="" value="{$item2['id']}" checked>{$item2['name']}
									{else/}
									<input name="permission[]" lay-skin="primary" type="checkbox" title="" value="{$item2['id']}">{$item2['name']}
									{/if}
								</label>
								{/volist}
							</dd>
						</dl>
					</dd>
				</dl>
				{/volist}
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name=""><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>
{/block}


{block name="js"}
<script type="text/javascript">
$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});
	
	$("#form-admin-role-add").validate({
		rules:{
			roleName:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type:"post",
				url:"{:url('admin/Admin/editRole')}",
                dataType: 'json',
                success: function(data){
				    if(data.code == 2000){
                        layer.msg('修改角色成功!', {icon:1,time:1000}, function(){
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.location.reload(); //刷新父页面
                            parent.layer.close(index);
                        });
					}
                    else {
                        layer.msg(data.msg,{icon:2,time:1000});
					}
                },
                error: function(XmlHttpRequest, textStatus, errorThrown){
                    layer.msg('修改角色失败!',{icon:2,time:1000});
                }
			});
		}
	});
});
</script>
{/block}