{include file="admin@public/meta"}

<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用<span class="f-14">☺礼服租赁系统☺</span>后台管理！</p>
	<p>登录次数：{:session('adminLoginInfo.admin_login_count')} </p>
	<p>上次登录IP：{:session('adminLoginInfo.admin_last_ip')}  &nbsp;&nbsp;&nbsp; 上次登录时间：{$Think.session.adminLoginInfo['admin_last_time']|date="Y-m-d H:i:s"}</p>
	<table class="table table-border table-bordered table-bg">
		<thead>
		<tr>
			<th colspan="7" scope="col">信息统计</th>
		</tr>
		<tr class="text-c">
			<th>统计</th>
			<th>用户总数</th>
			<th>物品总数</th>
			<th>物品成交量</th>
			<th>违规物品</th>
			<th>管理员</th>
		</tr>
		</thead>
		<tbody>
		<tr class="text-c">
			<td>总数</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr class="text-c">
			<td>今日</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr class="text-c">
			<td>昨日</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td></td>
		</tr>
		<tr class="text-c">
			<td>本周</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr class="text-c">
			<td>本月</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
		</tbody>
	</table>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
		{volist name="info" id="item"}
		<tr>
			<th>{$key}</th>
			<td>{$item}</td>
		</tr>
		{/volist}
		</tbody>
	</table>
</div>


{include file="admin@public/footer"}

</body>
</html>